/*Gobal*/

:root {
  --theme-font-color: #585858;
  --theme-card-font-color: rgb(255, 255, 255);
  --theme-font-family: "Source Sans Pro", Helvetica, sans-serif;
  --theme-font-size: 21px;
  --theme-line-height: 1.75;
}

html,
body {
  color: var(--theme-font-color);
  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
  font-weight: 300;
  line-height: var(--theme-line-height);
}

body {
  line-height: inherit;
  background: #FFF;
  font-family: var(--theme-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
}
h1 {  
  letter-spacing: -2px;
}

textarea {
  padding: 0;
  min-height: 3.75em;
}

input,
select,
textarea {
  line-height: var(--theme-line-height);
  font-size: var(--theme-font-size);
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-family: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #c9c9c9;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

/*  */

.homepage {
  padding-top: 170px;
  padding-bottom: 130px;
}

.nav__menu {
  display: none;
}

.nav__menu_anchor {
  display: flex;
  text-decoration: none;
  flex-direction: column;
}

.header {}

.l-logo { 
  display: flex;
  padding-top: 0;
  padding-bottom: 30px;
  align-items: center;
  gap: 15px;
}

.l-logo__img {
  display: flex;
  width: 2em;
  height: 2em;
}

.l-logo__title {
  display: flex;
  text-align: center;
  margin: 0;
  letter-spacing: 7px;
}

.c-container {
  width: 100%;
  max-width: 68em;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.c-container_title {
  padding-bottom: 70px;
}

.c-container_h1 {
  letter-spacing: -0.035em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em 0;
  font-size: 2.75em;
}

.c-card__list {
  display: grid;
  gap: 2.45rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.c-card__image {
  width: 100%;
}
.c-card__image,
.c-card__description {
  grid-column: 1 / 1;
  grid-row: 1;
}
/* .c-card__description { } */

.c-card__title {
  color: var(--theme-card-font-color);
  justify-content: center;
  display: flex;
  margin: 50px 50px 25px;
}
.c-card__text {
  color: var(--theme-card-font-color);
  display: flex;
  justify-content: center;
  margin: 25px 50px 25px;
  text-align: center;
}
.c-card__link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.footer {
  background-color: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 128px;
}

.footer__contact-logo {
  padding-top: 60px;
}

.footer__credicts {
  display: flex;
}

.credicts { 
  padding-left: 17px;
  padding-right: 17px;
}

.credict__medio {
  border: solid 10  px rgb(rgb(0, 0, 0));
}